.link {
    font-size: 20pt;
}

.link:hover {
    color: rgb(183, 1, 255);
}

.link:link {
    color: blue;
}

.link:active {
    color: green;
}

.link:visited {
    background-color: gray;
    color: rgb(25, 0, 255);
}